@charset "utf-8";
/* CSS Document */

@media (max-width:800px){
    .flex{
        display: flex;
	flex-direction: column;
    }
}

body{
    margin: 0px;
}

.content{
    height: auto;
    width: 100%;
    max-width: 2000px;
    display: grid;
}

.flex{
    display: flex;
}

#lcontent{
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 100%;
}

.links{
    height:8vh;
    display: flex;
    flex-direction: row;
}

#infos{
    height: 100%;
    background:#004355;
}

#infof{
    width: inherit;
    background:#4f413e;
}


