@charset "utf-8";
/* CSS Document */

body{
	font-size:16px;
    
}

.backgroundBlur{
    width:100%;
    height:100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    background:url("../../images/Fontpage/Background-Desktop.jpg") center no-repeat;
    background-size: cover;
    padding: 1;
    box-sizing:border-box;
    z-index: -3;
}

.backgroundBlur:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(5px);
    z-index: -2;
}

.backgroundImage{
    width:100%;
    height:100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    background:url("../../images/Fontpage/Background-Desktop.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
    padding-top:constant(safe-area-inset-top);   /*为导航栏+状态栏的高度 88px*/         
    padding-left:constant(safe-area-inset-left);   /*如果未竖屏时为0*/                
    padding-right:constant(safe-area-inset-right);  /*如果未竖屏时为0*/                
    padding-bottom:constant(safe-area-inset-bottom); /*为底下圆弧的高度 34px*/    
}

.divbackgroundcolor{
    width:100%;
    height:100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    background:rgba(0,0,0,.6);
}

.languageselector{
    float: right;
    width: 10vh;
    height: 5vh;
    color:white;
}

.languageselector p{
    vertical-align: middle;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    text-shadow: 0.2vh 0.1vh 0.5vh #000;
    margin: 5%;
    
}

.languageselector span a{
   text-decoration: none;
   color: #FFFFFF;
}

.languageselector span a:hover{
   text-decoration: none;
   border-bottom: 0.3vh solid #FFF;
   transition: all 150ms ease-in-out;
}

.selectCN{
    margin-right:10%;
}

.selectEN{
    margin-left:10%;
}

.selected{
    border-bottom: 0.3vh solid #FFF;
}

.navguide{
    float: left;
    position: absolute;
    bottom: 5%;
    width: 40vh;
    height: 35vh;
    color:white;
    margin:2% 3%;
}

.navguide h1{
    font-size: 4.5vh;
    margin: 5% 0%;
    margin-bottom: 0.8%;
}

.navguide h2{
    font-size: 3.5vh;
    margin: 4% 0%;
    margin-top: 0%;
}

.navguide p{
    font-size: 2.5vh;
    margin: 3% 0%;
}
